.about-section {
  padding: 3rem 1rem;
  background-color: #f9f9f9;
  font-family: 'Space Grotesk', sans-serif;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
  max-width: 1200px;
  margin: auto;
  flex-wrap: wrap;
}

.about-text {
  flex: 1;
  min-width: 250px;
}

.about-text h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about-text h2 span {
  color: #ff6600;
}

.about-text p {
  margin-bottom: 1rem;
  color: #555;
  line-height: 1.6;
}

.about-text .mission {
  margin-top: 1.5rem;
  font-weight: 500;
  color: #333;
}

.about-image {
  flex: 1;
  min-width: 300px;
  width: 470px;
  height: 470px;
  display: flex;
  justify-content: center;
}

/* Responsive Design */
@media  (max-width: 1020px){
  .about-image{
    width: 300px;
    height: 300px;
  }
  
}
@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .about-text h2 {
    font-size: 1.8rem;
  }
  .about-image{
    width: 280px;
    height: 280px;
  }
}



@media (max-width: 480px) {
  .about-container{
    margin: 0%;
    padding: 0%;
  }

   .about-text{
    width: 80%;
  }
  .about-text h2 {
    font-size: 1.5rem;
  }
  .about-text p {
    font-size: 0.9rem;
  }
}
