.shop-page {
  display: flex;
  padding: 20px;
  position: relative;
}

.sidebar {
  width: 250px;
  padding-right: 20px;
  border-right: 1px solid #ddd;
  background: #fff;
  transition: transform 0.3s ease-in-out;
}

.filters-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reset-btn {
  border: none;
  background: transparent;
  color: #ff6600;
  cursor: pointer;
}

.filter-group {
  margin-top: 20px;
  border-bottom: 1px solid #eee;
  padding-bottom: 8px;
}

.filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.filter-header h5{
    font-size: medium;
}

.arrow {
  font-size: 12px;
  transition: transform 0.3s ease;
}

.arrow.open {
  transform: rotate(180deg);
}

.subcategory-list {
  list-style: none;
  margin: 5px 0 0;
  padding-left: 15px;
}

.subcategory-list li {
  margin-bottom: 3px;
  cursor: pointer;
  font-size: 15px;
}

.subcategory-list li.active {
  font-weight: bold;
  color: #ff6600;
}

.product-list {
  flex: 1;
  padding-left: 20px;
}

.sort-bar {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  font-size: large;
  gap: 5px;
  margin-right: 30px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  max-height: 100vh;
  overflow-y: auto;
}

/* Mobile & Tablet Styles */
.sidebar-toggle {
  display: none;
  position: fixed;
  left: 23px;
  background: #ff6600;
  color: white;
  padding: 5px 8px;
  border: none;
  cursor: pointer;
  /* z-index: 999; */
  border-radius: 5px;
}

.close-sidebar {
  display: none;
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background: #ff6600;
  color: #fff;
  border: none;
  cursor: pointer;
}

.overlay {
  display: none;
}

/* Responsive */
@media (max-width: 1024px) {
  .shop-page{
    padding: 0;
  }

  .sidebar {
    position: fixed;
    padding-left: 20px;
    top: 0;
    left: 0px;
    height: 100%;
    max-width: 250px;
    background: white;
    z-index: 1000;
    transform: translateX(-100%);
    overflow-y: auto;
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .sidebar-toggle {
    display: block;
  }

  .close-sidebar {
    display: block;
  }

  .overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 999;
  }

  .product-list {
    padding: 20px;
  }
}

@media (max-width: 600px) {
  .product-grid {
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    width: 100%;
  }
  .sort-bar{
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .product-grid {
   grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
   width: 100%;
  }
  .sort-bar{
    font-size: 0.8rem;
  }
  .sort-bar select{
    width: 50px;
  }
   .sort-bar select option{
    width: 50px;
  }
  /* .sidebar-toggle {
    margin-top: 0%;
    display: block;
    padding: 5px 8px;
    font-size: 0.8rem;
  } */
}